# üêÄ Ratatouille - Getting Started

Welcome! This notebook shows you how to work with your data platform.

## Quick Start

1. **Run the pipelines** first (in Dagster UI or `make run`)
2. Then explore your data here!

In [2]:
# üîå Connect to DuckDB + S3
import sys
sys.path.insert(0, '/app/src')

from ratatouille.core import get_duckdb, s3_path

con = get_duckdb()
print("‚úÖ Connected to DuckDB + S3!")

‚úÖ Connected to DuckDB + S3!

## üìä Explore Your Data

After running the pipelines, you'll have data in Bronze ‚Üí Silver ‚Üí Gold layers.

In [3]:
# ü•á Gold Layer: Sales by Product
df = con.sql("""
    SELECT * FROM read_parquet('s3://gold/pos/sales_by_product.parquet')
    ORDER BY total_revenue DESC
""").df()

print("üìä Top Products by Revenue:")
df

üìä Top Products by Revenue:

,product_id,product_name,category,total_transactions,total_quantity,total_revenue,avg_transaction_value
0,PROD-007,SALAD,FOOD,200,386.0,3085.15,15.43
1,PROD-006,SANDWICH,FOOD,203,406.0,3038.51,14.97
2,PROD-009,SMOOTHIE,DRINKS,198,406.0,2226.50,11.24
3,PROD-002,LATTE,COFFEE,196,386.0,1737.86,8.87
4,PROD-003,CAPPUCCINO,COFFEE,201,410.0,1644.40,8.18
5,PROD-001,ESPRESSO,COFFEE,206,421.0,1473.77,7.15
6,PROD-010,TEA,DRINKS,208,418.0,1258.04,6.05
7,PROD-004,CROISSANT,PASTRY,193,397.0,1188.75,6.16
8,PROD-005,MUFFIN,PASTRY,198,402.0,1002.17,5.06
9,PROD-008,COOKIE,PASTRY,197,408.0,817.94,4.15

In [4]:
# üè™ Gold Layer: Sales by Store
df = con.sql("""
    SELECT * FROM read_parquet('s3://gold/pos/sales_by_store.parquet')
    ORDER BY total_revenue DESC
""").df()

print("üè™ Store Performance:")
df

üè™ Store Performance:

,store_id,total_transactions,total_items_sold,total_revenue,avg_transaction_value,unique_customers
0,STORE-CHI-003,516,1029.0,4443.81,8.61,242
1,STORE-LA-002,507,1016.0,4384.06,8.65,256
2,STORE-NYC-001,489,1001.0,4331.26,8.86,258
3,STORE-SF-004,488,994.0,4313.96,8.84,250

In [5]:
# üìÖ Gold Layer: Daily Sales
df = con.sql("""
    SELECT * FROM read_parquet('s3://gold/pos/daily_sales.parquet')
    ORDER BY sale_date
""").df()

print("üìÖ Daily Sales Trend:")
df

üìÖ Daily Sales Trend:

,sale_date,total_transactions,total_items_sold,total_revenue,active_stores
0,2025-12-30,32,69.0,296.97,4
1,2025-12-31,74,143.0,599.62,4
2,2026-01-01,57,105.0,457.28,4
3,2026-01-02,66,129.0,499.69,4
4,2026-01-03,74,145.0,665.65,4
5,2026-01-04,61,128.0,552.74,4
6,2026-01-05,69,142.0,597.83,4
7,2026-01-06,65,133.0,528.40,4
8,2026-01-07,69,133.0,610.55,4
9,2026-01-08,59,117.0,480.60,4
10,2026-01-09,73,157.0,657.70,4
11,2026-01-10,57,109.0,494.03,4
12,2026-01-11,59,123.0,485.31,4
13,2026-01-12,61,129.0,598.38,4
14,2026-01-13,74,151.0,650.02,4
15,2026-01-14,66,140.0,641.32,4
16,2026-01-15,68,136.0,608.79,4
17,2026-01-16,56,104.0,462.09,4
18,2026-01-17,53,109.0,463.13,4
19,2026-01-18,77,149.0,681.90,4
20,2026-01-19,61,123.0,561.78,4
21,2026-01-20,59,110.0,478.28,4
22,2026-01-21,62,127.0,512.11,4
23,2026-01-22,83,168.0,722.40,4
24,2026-01-23,62,131.0,562.86,4
25,2026-01-24,60,117.0,501.76,4
26,2026-01-25,63,144.0,578.09,4
27,2026-01-26,64,119.0,534.48,4
28,2026-01-27,67,150.0,625.99,4
29,2026-01-28,51,112.0,473.85,4
30,2026-01-29,65,128.0,605.06,4
31,2026-01-30,33,60.0,284.43,4

## üîç Query Any Layer

You can query any layer directly:

In [6]:
# ü•à Silver Layer: Cleaned transactions
con.sql("""
    SELECT * FROM read_parquet('s3://silver/pos/sales.parquet')
    LIMIT 10
""").df()

,transaction_id,store_id,product_id,product_name,category,quantity,unit_price,total_amount,payment_method,customer_id,transaction_time,_ingested_at,_processed_at
0,TXN-000000,STORE-LA-002,PROD-002,LATTE,COFFEE,1,4.61,4.61,CREDIT_CARD,NaN,2026-01-02 17:36:13.133527,2026-01-29 08:59:21.781174,2026-01-29 08:59:23.681509
1,TXN-000001,STORE-LA-002,PROD-007,SALAD,FOOD,1,7.62,7.62,CREDIT_CARD,CUST-0014,2026-01-16 21:44:13.133527,2026-01-29 08:59:21.781174,2026-01-29 08:59:23.681509
2,TXN-000002,STORE-CHI-003,PROD-009,SMOOTHIE,DRINKS,2,5.35,10.69,CASH,CUST-0082,2026-01-22 04:20:13.133527,2026-01-29 08:59:21.781174,2026-01-29 08:59:23.681509
3,TXN-000003,STORE-CHI-003,PROD-005,MUFFIN,PASTRY,1,2.43,2.43,CASH,NaN,2026-01-03 02:53:13.133527,2026-01-29 08:59:21.781174,2026-01-29 08:59:23.681509
4,TXN-000004,STORE-NYC-001,PROD-006,SANDWICH,FOOD,3,7.32,21.97,MOBILE_PAY,CUST-0499,2026-01-29 03:04:13.133527,2026-01-29 08:59:21.781174,2026-01-29 08:59:23.681509
5,TXN-000005,STORE-CHI-003,PROD-009,SMOOTHIE,DRINKS,2,5.68,11.36,CREDIT_CARD,CUST-0024,2026-01-20 22:48:13.133527,2026-01-29 08:59:21.781174,2026-01-29 08:59:23.681509
6,TXN-000006,STORE-NYC-001,PROD-005,MUFFIN,PASTRY,1,2.59,2.59,MOBILE_PAY,NaN,2026-01-20 02:09:13.133527,2026-01-29 08:59:21.781174,2026-01-29 08:59:23.681509
7,TXN-000007,STORE-CHI-003,PROD-006,SANDWICH,FOOD,2,7.28,14.56,CASH,CUST-0088,2026-01-16 22:09:13.133527,2026-01-29 08:59:21.781174,2026-01-29 08:59:23.681509
8,TXN-000008,STORE-LA-002,PROD-008,COOKIE,PASTRY,2,1.95,3.91,DEBIT_CARD,CUST-0398,2025-12-31 22:51:13.133527,2026-01-29 08:59:21.781174,2026-01-29 08:59:23.681509
9,TXN-000009,STORE-NYC-001,PROD-001,ESPRESSO,COFFEE,2,3.47,6.93,CREDIT_CARD,CUST-0291,2026-01-28 01:12:13.133527,2026-01-29 08:59:21.781174,2026-01-29 08:59:23.681509

In [7]:
# Custom analysis
con.sql("""
    SELECT 
        category,
        payment_method,
        COUNT(*) as transactions,
        ROUND(SUM(total_amount), 2) as revenue
    FROM read_parquet('s3://silver/pos/sales.parquet')
    GROUP BY category, payment_method
    ORDER BY revenue DESC
""").df()

   category payment_method  transactions  revenue
0      FOOD    CREDIT_CARD           109  1664.83
1      FOOD     MOBILE_PAY           108  1645.83
2      FOOD           CASH           103  1606.22
3    COFFEE     MOBILE_PAY           161  1306.73
4    COFFEE    CREDIT_CARD           154  1232.72
5      FOOD     DEBIT_CARD            83  1206.78
6    COFFEE     DEBIT_CARD           151  1188.14
7    COFFEE           CASH           137  1128.44
8    DRINKS     MOBILE_PAY           103   916.98
9    DRINKS    CREDIT_CARD           117   899.05
10   PASTRY     MOBILE_PAY           173   894.84
11   DRINKS     DEBIT_CARD            97   852.32
12   DRINKS           CASH            89   816.19
13   PASTRY           CASH           144   746.97
14   PASTRY     DEBIT_CARD           140   719.09
15   PASTRY    CREDIT_CARD           131   647.96

## üéâ You Did It!

You now have a working data platform with:
- ‚úÖ S3 storage (MinIO)
- ‚úÖ Medallion architecture (Bronze/Silver/Gold)
- ‚úÖ SQL analytics (DuckDB)
- ‚úÖ Pipeline orchestration (Dagster)
- ‚úÖ Interactive development (Jupyter)

**Next steps:**
- Explore the Dagster UI at http://localhost:3000
- Browse your data in MinIO at http://localhost:9001
- Create your own pipelines!

In [8]:
# Cleanup
con.close()
print("‚úÖ Done!")

‚úÖ Done!